:root{
--whiteBorder: 2px solid white;
--whiteColor: white;
--background: #07010D;
}


*{
padding: 0;
margin: 0;
box-sizing: border-box;


}



body{
background-color: var(--background);
color: var(--whiteColor);
}


header{
border-bottom: var(--whiteBorder);
display: flex;
justify-content: center;
padding: 10px;
}

footer{
border-top: var(--whiteBorder);
display: flex;
justify-content: center;
padding: 5px;
}

article,nav{
margin: 50px 10px;
}
section{
margin: 25px 5px;
}
h3{
margin-bottom: 5px;
}

dd{
margin-bottom: 20px;

}


tr,td,table{
border-collapse:collapse ;
border:var(--whiteBorder) ;
padding: 8px;

}
