:root{
--whiteBorder: 2px solid black;
--blackBorder: 2px solid white;
--whiteColor: black;
--blackColor:white;
--background: #FFFFFF;
--background2: #07010D;
--pinky:#831550;
}

:root.dark{

--whiteBorder: 2px solid white;
--blackBorder: 2px solid black;
--whiteColor: white;
--blackColor:black;
--background: #07010D;
--background2: #FFFFFF;
--pinky:#C998C0;
}


*{
padding: 0;
margin: 0;
box-sizing: border-box;
}



body{
background-color: var(--background);
color: var(--whiteColor);
}


header{
border-bottom: var(--whiteBorder);
display: flex;
justify-content: center;
padding: 10px;
}


main{
display: grid;
grid-template-columns: repeat(2,1fr);
grid-template-rows: 200px 1fr ;
justify-items: center;
align-items: center;
}


section{
margin: 25px 5px;
}
h3{
margin-bottom: 5px;
}


article,nav{
margin: 50px 10px;
}

nav{
border: var(--whiteBorder);
border-radius: 20px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 190px;
width: 360px;
padding: 80px;
}

ul{
display: flex;
flex-direction: column;
justify-content: space-evenly;
gap: 5px;
}

article nav li{
list-style: none;
}

a:link{
color: var(--whiteColor);
background-color: var(--blackColor);
}

a:visited{
color: var(--pinky);

}
#projects{
display: flex;
grid-area: 1 / 1 / 1 / -1;

}

#archievements{
grid-area: 2 / 1 / 2 / 1;

}

#goals{
grid-area: 2/2/2/2;
}

details p{
background-color:var(--whiteColor);
color: var(--blackColor);
border-radius: 20px;
padding: 10px;
width: min(50vw,68ch);
}






table{
border-radius: 20px;
border-top-right-radius:0px ;
border-top-left-radius:0px ;
padding: 8px;
}

td{
border-radius: 20px;
padding: 8px;
border:var(--whiteBorder);
}



table{
border-spacing: 8px;
border: var(--whiteBorder);
}

caption{
background-color: var(--whiteColor);
color:var(--blackColor) ;
padding: 8px;
border-radius: 20px;
border-bottom-right-radius:0px ;
border-bottom-left-radius:0px ;
}

#schedule{
justify-self: center;
grid-area: -1/ 1 / -1 / -1;
}


/*dark mode button*/
aside > button{
width: 10vw;
border-radius: 20px;
height: 15vh;
background-color: var(--background);
color: var(--whiteColor);
border:var(--whiteBorder);
position: fixed;
bottom: 10px;
right: 10px;
padding: 10px;
}

aside > button:hover{

background-color: var(--background2);
color: var(--blackColor);
border:var(--blackBorder);

cursor: pointer;
}


footer{
border-top: var(--whiteBorder);
display: flex;
justify-content: center;
padding: 5px;
}

@media(max-width:800px){
main{
display: flex;
flex-direction: column;

}

details p{
width: 90vw;

}


article:first-of-type{
flex-direction: column;
}
}


